*.txt
*.zip
*.gz
log/*.log
log/*log[0-9]

# question: would log/archive/access.log be ignored? NO-
# - this is because the access.log file is nested in another
#-folder. You would have to make sure to list that folder as well
#- e.g. log/archive/*.log